<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.mybatis.example.AuthorMapper">

  <select id="getAuthor" parameterType="int" resultType="Author">
    select * from author where id = #{id}
  </select>

  <insert id="insertAuthor" parameterType="org.mybatis.example.Author"
            useGeneratedKeys="true" keyProperty="id">
    insert into author (username, hashed_password, email, bio) 
    values (#{username}, #{hashedPassword}, #{email}, #{bio,jdbcType=VARCHAR})
  </insert>
  
</mapper>